<% provide(:title, "Edit user") %>
<div class="row text-center">
  <h1 class="page_header">Update your profile</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'shared/edit_user_form' %>

  </div>
</div>