<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-sm-11">
    <div class="col-md-3 col-md-offset-5">
      <h1>Sign up</h1>

      <%= render 'shared/new_user_form' %>

    </div>
  </div>
</div>