<% provide(:title, 'Reviews') %>
<h1>Reviews</h1>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">

  <div class="col-md-8">
    <% if @user.reviews.any? %>
        <%= render partial: 'shared/user_reviews' %>
    <% end %>
  </div>
</div>