<% provide(:title, 'Reviews') %>
<% if @user == current_user %>
    <h1>My Reviews</h1>
<% else %>
    <h1><%= @user.name %>'s Reviews</h1>
<% end %>
<div class="row">
  <aside class="span4">
    <section>
    </section>
  </aside>

  <div class="span8">
    <% if @user.reviews.any? %>
        <%= render partial: 'shared/user_reviews' %>
    <% end %>
  </div>
</div>