<% provide(:title, "") %>


<% if !signed_in? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1><strong>FIND GOOD COFFEE</strong></h1>

        <h3> From beans to roasters. </h3><br>
          <div class="row text-center">
            <%= render 'shared/search_bar' %>
          </div> <br><br>
        <%= link_to "Sign up now!", signup_path,
                    class: "btn btn-large btn-primary" %>
      </div>
    </div>
<% end %>