<% if signed_in? %>
    <div class="container">
      <div class="row">
        <aside class="span4">
          <section>
            <%= render 'shared/user_info' %>
          </section>
      </div>
    </div>
<% else %>
    <div class="row-fluid">
      <div class="text-center">
        <div class="words">
          <h1>Welcome to Third Wave!</h1>

          <h2>
            Third Wave is a coffee yumyum by Gabe and Jenn.
          </h2>
          <div class="text-center">
            <%= link_to "Sign up now!", signup_path,
                        class: "btn btn-large btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>