@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  color: #333333;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-image: url(/assets/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  overflow: auto;
}

.content {
  margin-left: 0px !important;
  a:hover {
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Vollkorn', Georgia, Times, serif;
  /*font-size: 3em;
  letter-spacing: -2px;*/
  margin-bottom: 30px;
  text-align: center;
}


h2 {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-weight: bold;
  margin-bottom: 35px;
}

h3 {
  font-family: 'Vollkorn', Georgia, Times, serif;
}

p {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.7em;
}

/* header */

/* nav bad */
.nav {
  margin-top: 1.5em;
}

.navbar .nav > li > a {
  padding: 0 15px 10px;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-weight: 700 !important;

}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

ul.nav a:link, a:visited {
  display: block;
  //width: 130px;
  font-weight: bold;
  text-align: center;
  //padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}

.activeNav {
 border-bottom: 3px solid #333333;
}

.activeNav a {
  color: #333333 !important;
}

.hero-unit {
  margin-top: 5em;
}

/* footer */

#footer {
  left: inherit;
  width: 20%;
  margin-top: 45px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 10px;
  a {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #333333;
    &:hover {
      text-decoration: none;
      color: #333333;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.container {
  width: 75%;
  background: #fff;
  margin-top: 5em;
  padding-top: 2em;
  margin-bottom: 5em;
  min-height: 600px;
  height: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding-bottom: 2em;
  border-radius: 10px;
}

.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}

.roast, .origin,
.roaster_avgrating, .roaster_description{
  margin-top:10px;
  display: inline-block;
  //border:2px solid #e6e6e6;
  //border-radius: 10px;
  padding: 7px;
  /*-webkit-box-sizing: border-box; *//* Safari/Chrome, other WebKit *//*
  -moz-box-sizing: border-box;    *//* Firefox, other Gecko *//*
  box-sizing: border-box;         *//* Opera/IE 8+ */
  width: 100%;
}

.rating, .roaster_description{
  margin-top:10px;
  display: inline-block;
  //border:2px solid #e6e6e6;
  //border-radius: 10px;
  padding: 7px;
  /*-webkit-box-sizing: border-box; *//* Safari/Chrome, other WebKit *//*
  -moz-box-sizing: border-box;    *//* Firefox, other Gecko *//*
  box-sizing: border-box;         *//* Opera/IE 8+ */
  width: 100%;
  margin-bottom: 2em;
}

.plus_sign {
  border-radius: 50%;
}