<div class="navbar navbar-fixed-bottom" id="footer">
  <nav>
    <ul>
      <li><%= link_to "Gabe G'Sell 2014", "http://gabegsell.com"%></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</div>